<div class="jumbotron">


<div class="row">
  <div class="col-lg-4 text-center">blee</div>
  <div class="col-lg-4 text-center">bloo</div>
  <div class="col-lg-4 text-center">
    <%= link_to 'Login', login_path %>
  </div>
</div>

</div>
